.form-light {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, #7a94e2 1%, #2a5298 100%);
}

.form-dark {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, #2a5298, black);
}

.linkNavigate {
  margin: 20px;
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.myLink {
  color: blue;
  font-size: 2rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.submitBtn {
  border: none;
  width: 500px;
  height: 50px;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #2e10c6;

  &:hover {
    background-color: #084bbf;
  }

  &:active {
    color: #084bbf;
  }
}

.errorText {
  color: red;
}
