.footer-light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: white;
}

.footer-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: linear-gradient(135deg, #2a5298, black);
  color: white;
}
